@{
    ViewBag.Title = "MapList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<ol class="breadcrumb">
    <li><a href="#"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;管理中心</a></li>
    <li class="active"><span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;微信公众号粉丝</li>
</ol>
<div class="row" style="height: calc(100% - 90px)">
    <div class="col-md-12" style="height: 100%;">
        <div id="mapdiv" style="width: 100%; height: 100%;"></div>
    </div>
</div>
@section Scripts{
    
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=6fb2a5f8fbb7483330203d8811c18a33"></script>
    <script src="~/Scripts/hr/admin/subscribes/maplist.js"></script>
    <script type="text/javascript">
        $(function () {
            var accountid = "@ViewBag.AccountId";
            LoadPoints(accountid);
        });
    </script>
}