
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>店内环境</title>
    <style type="text/css">
        .huanjing {
            border: 2px dashed #f19d0b;
            margin-bottom: 15px;
            background-color: #f19d0b;
            border-radius: 10px;
        }

           
    </style>
</head>
<body style="padding:15px;">
    <h3>店内环境</h3>
    <section class="_135editor" data-tools="135编辑器" data-id="126" style="position: relative; border: 0px none; padding: 0px; box-sizing: border-box;" data-color="rgb(204, 164, 227)" data-custom="rgb(204, 164, 227)">
        <section style="border: 0px; margin: 5px auto; box-sizing: border-box; padding: 0px; width: 100%;" class="layout" data-width="100%">
            <section style="height: 1em; box-sizing: border-box;"><section style="height: 100%; width: 1.5em; float: left; border-top-width: 0.4em; border-top-style: solid; border-color: #cca4e3; border-left-width: 0.4em; border-left-style: solid; box-sizing: border-box;"></section><section style="height: 100%; width: 1.5em; float: right; border-top-width: 0.4em; border-top-style: solid; border-color: #cca4e3; border-right-width: 0.4em; border-right-style: solid; box-sizing: border-box;"></section><section style="display: inline-block; color: #4e2068; clear: both; box-sizing: border-box;"></section></section><section style="margin: -0.8em 0.1em -0.8em 0.2em; padding: 0.8em; border: 1px solid #cca4e3; border-radius: 0.3em; box-sizing: border-box;">
                <section class="135brush" placeholder="四角宽边框的样式" style="color: #333333; font-size: 1em; line-height: 1.4; word-break: break-all; word-wrap: break-word; box-sizing: border-box;">
                    <section class="_135editor" data-tools="135编辑器" data-id="85978" style="border: 0px none; padding: 0px; box-sizing: border-box;">
                        <section data-role="paragraph" class="_135editor" style="border: 0px none; padding: 0px; box-sizing: border-box;">
                            <p>

                                <img src="~/Content/images/shop/bjh/logo.png" style="float: none; max-width: 100% !important;" />
                            </p>
                        </section>
                    </section>
                </section>
            </section><section style="height: 1em; box-sizing: border-box;"><section style="height: 100%; width: 1.5em; float: left; border-bottom-width: 0.4em; border-bottom-style: solid; border-color: #cca4e3; border-left-width: 0.4em; border-left-style: solid; box-sizing: border-box;"></section><section style="height: 100%; width: 1.5em; float: right; border-bottom-width: 0.4em; border-bottom-style: solid; border-color: #cca4e3; border-right-width: 0.4em; border-right-style: solid; box-sizing: border-box;"></section></section>
        </section>
    </section>
 

            <img class="huanjing" src="~/Content/images/shop/bjh/huanjing/1.jpg" width="100%" style="display: block; border-radius: 10px; margin: 5px auto;" />
  
  

    <img class="huanjing"  src="~/Content/images/shop/bjh/huanjing/2.jpg" width="100%" style="display: block; border-radius: 10px; margin: 5px auto;" />


    <img class="huanjing" src="~/Content/images/shop/bjh/huanjing/3.jpg" width="100%" style="display: block; border-radius: 10px; margin: 5px auto;" />


    <img class="huanjing" src="~/Content/images/shop/bjh/huanjing/4.jpg" width="100%" style="display: block; border-radius: 10px; margin: 5px auto;" />


<img class="huanjing" src="~/Content/images/shop/bjh/huanjing/5.jpg" width="100%" style="display: block; border-radius: 10px; margin: 5px auto;" />
    
    <h5 style="color:#92d050;">电话：13953288206</h5>
    <h5 style="color:#548dd4;">地址：青岛市市南区燕儿岛路20-7</h5>
<table style="width:100%;">
        <tr>
            <td>
                <img src="~/Content/images/shop/bjh/qqleft.png" width="120" />
            </td>
            <td>
                长按识别二维码
                关注“公众号”
            </td>
            <td>

                <img src="~/Content/images/shop/bjh/qqright.png" width="120" />
            </td>

        </tr>
        <tr>
            <td colspan="3">
                <img style="border:5px solid red; display: block; margin: 0 auto;" src="~/Content/images/shop/bjh/qrcode_for_gh_d54ddd15cfbf_430 (1).jpg" width="80%" />
            </td>
        </tr>
    </table>
</body>
</html>
