
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>佰饺汇</title>
    <style type="text/css">
        body, html, div, img {
            margin: 0;
            padding: 0;
        }

        img {
            display: block;
        }
    </style>
</head>
<body>
    <div style="width: 100%;">
        <img src="~/Content/images/shop/bjh/bjh_01.jpg" width="100%" />
    </div>
    <a href="~/WeiXin/Shop/Introduce">
        <div style="width:100%">
            <img src="~/Content/images/shop/bjh/bjh_02.jpg" width="100%" />
        </div>
    </a>
    <a href="~/WeiXin/Shop/Specialty">
        <div style="width:100%">

            <img src="~/Content/images/shop/bjh/bjh_03.jpg" width="100%" />
        </div>
    </a>
    <a href="~/WeiXin/Shop/Environment">
        <div style="width:100%">
            <img src="~/Content/images/shop/bjh/bjh_04.jpg" width="100%" />
        </div>
    </a>
    <a href="">
        <div style="width:100%">
            <img src="~/Content/images/shop/bjh/bjh_05.jpg" width="100%" />
        </div>
    </a>
    <div style="width:100%">
        <img src="~/Content/images/shop/bjh/bjh_06.jpg" width="100%" />
    </div>
</body>
</html>
