
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>佰饺汇</title>
    <style type="text/css">
        body, html, div, img {
            margin: 0;
            padding: 0;
        }

        img {
            display: block;
        }
    </style>
</head>
<body>
    <div style="width: 100%;">
        <img src="~/Content/images/shop/bjh/bjh_01.jpg" width="100%" />
    </div>
    <a href="~/WeiXin/Shop/Introduce">
        <div style="width:100%">
            <img src="~/Content/images/shop/bjh/bjh_02.gif" width="100%" />
        </div>
    </a>
    <a href="~/WeiXin/Shop/Specialty">
        <div style="width:100%">

            <img src="~/Content/images/shop/bjh/bjh_03.jpg" width="100%" />
        </div>
    </a>
    <a href="http://www.wei123.com.cn/website/api/app/website/file3/style1.aspx?sn=A870A065A29D0E65B8C7B0D2F0458E6C&wid=7484653&acid=62080&wxref=mp.weixin.qq.com&menu_id=217033&article_id=&winzoom=1">
        <div style="width:100%">
            <img src="~/Content/images/shop/bjh/bjh_04.gif" width="100%" />
        </div>
    </a>
    <a href="">
        <div style="width:100%">
            <img src="~/Content/images/shop/bjh/bjh_05.jpg" width="100%" />
        </div>
    </a>
    <div style="width:100%">
        <img src="~/Content/images/shop/bjh/bjh_06.jpg" width="100%" />
    </div>
</body>
</html>
