
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>佰饺汇企业简介</title>
    <style type="text/css">
        html,body {
            /*width:100%;*/
            /*margin:0;
            padding:0;*/
        }
    </style>
</head>
<body>
    <h3>佰饺汇企业简介</h3>
    <section class="_135editor" data-tools="135编辑器" data-id="126" style="position: relative; border: 0px none; padding: 0px; box-sizing: border-box;" data-color="rgb(204, 164, 227)" data-custom="rgb(204, 164, 227)">
        <section style="border: 0px; margin: 5px auto; box-sizing: border-box; padding: 0px; width: 100%;" class="layout" data-width="100%">
            <section style="height: 1em; box-sizing: border-box;"><section style="height: 100%; width: 1.5em; float: left; border-top-width: 0.4em; border-top-style: solid; border-color: #cca4e3; border-left-width: 0.4em; border-left-style: solid; box-sizing: border-box;"></section><section style="height: 100%; width: 1.5em; float: right; border-top-width: 0.4em; border-top-style: solid; border-color: #cca4e3; border-right-width: 0.4em; border-right-style: solid; box-sizing: border-box;"></section><section style="display: inline-block; color: #4e2068; clear: both; box-sizing: border-box;"></section></section><section style="margin: -0.8em 0.1em -0.8em 0.2em; padding: 0.8em; border: 1px solid #cca4e3; border-radius: 0.3em; box-sizing: border-box;">
                <section class="135brush" placeholder="四角宽边框的样式" style="color: #333333; font-size: 1em; line-height: 1.4; word-break: break-all; word-wrap: break-word; box-sizing: border-box;">
                    <section class="_135editor" data-tools="135编辑器" data-id="85978" style="border: 0px none; padding: 0px; box-sizing: border-box;">
                        <section data-role="paragraph" class="_135editor" style="border: 0px none; padding: 0px; box-sizing: border-box;">
                            <p>

                                <img src="~/Content/images/shop/bjh/logo.png"  style="float: none; max-width: 100% !important;"/>
                            </p>
                        </section>
                    </section>
                </section>
            </section><section style="height: 1em; box-sizing: border-box;"><section style="height: 100%; width: 1.5em; float: left; border-bottom-width: 0.4em; border-bottom-style: solid; border-color: #cca4e3; border-left-width: 0.4em; border-left-style: solid; box-sizing: border-box;"></section><section style="height: 100%; width: 1.5em; float: right; border-bottom-width: 0.4em; border-bottom-style: solid; border-color: #cca4e3; border-right-width: 0.4em; border-right-style: solid; box-sizing: border-box;"></section></section>
        </section>
    </section>
<section class="_135editor" data-tools="135编辑器" data-id="85508" style="position: relative; border: 0px none; padding: 0px; box-sizing: border-box;">
    <section class="layout" style="border: 0px; margin: 2px auto; box-sizing: border-box; padding: 0px; -webkit-border-image: url(http://image2.135editor.com/img/stats.gif);">
        <section style="height: 6px; box-sizing: border-box; color: inherit;"><section style="height: 100%; width: 6px; float: left; border-top-width: 2px; border-top-style: solid; border-color: #757576; border-left-width: 2px; border-left-style: solid; box-sizing: border-box; color: inherit;"></section><section style="height: 100%; width: 6px; float: right; border-top-width: 2px; border-top-style: solid; border-color: #757576; border-right-width: 2px; border-right-style: solid; box-sizing: border-box; color: inherit;"></section><section style="display: inline-block; color: #757576; clear: both; box-sizing: border-box; border-color: #757576;"></section></section><section style="margin: -1px 4px; padding: 0.8em; border: 1px solid #757576; box-sizing: border-box; box-shadow: #757575 0px 0px 4px; color: inherit;">
            <section class="135brush" style="color: #333333; font-size: 1em; line-height: 1.4; word-break: break-all; word-wrap: break-word; box-sizing: border-box;">
                <p style="color:#ff6a00; text-align: center;">
                    素衣台案前，巧手赛天工。<br />雪花纷飞舞，皎月平空现。<br />
                    清水飘芙蓉，元宝落玉盘。<br />餐餐世间味，最是此物鲜。

                </p>
                  
                <p  style="color:#757576;text-indent:2em; ">
                    自中国东汉南阳医圣张仲景发明饺子起，距今已有一千八百多年的历史了。各个朝代，年代都出现过不吝诗词雅句来赞美饺子，更有句民谚：“舒服不过躺着，好吃不过饺子。”足见广大人民对饺子的喜爱。 
                </p>
                <p  style="color:#757576;text-indent:2em; ">
                    佰饺汇寓为百年传承，百种汇集之意。佰饺汇的匠心传承数十年，自皮到馅每一个加工环节都经历了无数次的摸索，验证以及改良。现有饺子品种繁多，口味既有山东的“老味道”，又有海鲜特色“海味”。佰饺汇的饺子个个纯手工打造，皮薄馅大，形似元宝。在原料的使用上颇为考究，严格秉承蔬菜无农残，水产品无抗生素，非转基因等原则。以提供安全，安心食品为己任，营造健康美食为宗旨。
                </p>
            </section>
        </section>
        <section style="height: 6px; box-sizing: border-box; color: inherit;">
            <section style="height: 100%; width: 6px; float: left; border-bottom-width: 2px; border-bottom-style: solid; border-color: #757576; border-left-width: 2px; border-left-style: solid; box-sizing: border-box; color: inherit;"></section><section style="height: 100%; width: 6px; float: right; border-bottom-width: 2px; border-bottom-style: solid; border-color: #757576; border-right-width: 2px; border-right-style: solid; box-sizing: border-box; color: inherit;"></section>
        </section>
    </section>
</section>
<table style="width:100%;">
    <tr>
        <td>
            <img src="~/Content/images/shop/bjh/qqleft.png"width="120"  /> 
        </td>
        <td>
            长按识别二维码
            关注“公众号”
        </td>
        <td>

            <img src="~/Content/images/shop/bjh/qqright.png" width="120" />
        </td>

    </tr>
    <tr>
        <td colspan="3">
            <img style="border:5px solid red; display: block; margin: 0 auto;" src="~/Content/images/shop/bjh/qrcode_for_gh_d54ddd15cfbf_430 (1).jpg" width="80%" />
        </td>
    </tr>
</table>
</body>
</html>
