
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>特色菜品</title>
    <style type="text/css">

        .food {
            border: 2px dashed #f19d0b;
            margin-bottom: 15px;
            background-color: #f19d0b;
            border-radius: 10px;
            padding-bottom:15px;
        }
            .food:nth-child(2n+1) {
                border: 2px dashed #ff6a00;
                margin-bottom: 15px;
                background-color: #ff6a00;
            }
            .food_title {
                color: white;padding: 10px ;
            }
    </style>
</head>
<body style="padding:15px;">
<h3>特色菜品</h3>
    <section class="_135editor" data-tools="135编辑器" data-id="126" style="position: relative; border: 0px none; padding: 0px; box-sizing: border-box;" data-color="rgb(204, 164, 227)" data-custom="rgb(204, 164, 227)">
        <section style="border: 0px; margin: 5px auto; box-sizing: border-box; padding: 0px; width: 100%;" class="layout" data-width="100%">
            <section style="height: 1em; box-sizing: border-box;"><section style="height: 100%; width: 1.5em; float: left; border-top-width: 0.4em; border-top-style: solid; border-color: #cca4e3; border-left-width: 0.4em; border-left-style: solid; box-sizing: border-box;"></section><section style="height: 100%; width: 1.5em; float: right; border-top-width: 0.4em; border-top-style: solid; border-color: #cca4e3; border-right-width: 0.4em; border-right-style: solid; box-sizing: border-box;"></section><section style="display: inline-block; color: #4e2068; clear: both; box-sizing: border-box;"></section></section><section style="margin: -0.8em 0.1em -0.8em 0.2em; padding: 0.8em; border: 1px solid #cca4e3; border-radius: 0.3em; box-sizing: border-box;">
                <section class="135brush" placeholder="四角宽边框的样式" style="color: #333333; font-size: 1em; line-height: 1.4; word-break: break-all; word-wrap: break-word; box-sizing: border-box;">
                    <section class="_135editor" data-tools="135编辑器" data-id="85978" style="border: 0px none; padding: 0px; box-sizing: border-box;">
                        <section data-role="paragraph" class="_135editor" style="border: 0px none; padding: 0px; box-sizing: border-box;">
                            <p>

                                <img src="~/Content/images/shop/bjh/logo.png" style="float: none; max-width: 100% !important;" />
                            </p>
                        </section>
                    </section>
                </section>
            </section><section style="height: 1em; box-sizing: border-box;"><section style="height: 100%; width: 1.5em; float: left; border-bottom-width: 0.4em; border-bottom-style: solid; border-color: #cca4e3; border-left-width: 0.4em; border-left-style: solid; box-sizing: border-box;"></section><section style="height: 100%; width: 1.5em; float: right; border-bottom-width: 0.4em; border-bottom-style: solid; border-color: #cca4e3; border-right-width: 0.4em; border-right-style: solid; box-sizing: border-box;"></section></section>
        </section>
    </section>
    <div class="food">
        <div class="food_title" style="text-align: center;">
            胡萝卜素水饺
        </div>
        <div style="text-align: center;">
            <img src="~/Content/images/shop/bjh/shuijiao/胡萝卜素.jpg" width="90%" style="display: block; border-radius: 10px; margin: 5px auto;" />
        </div>
    </div>
    <div  class="food">
        <div class="food_title"  style="text-align: center;">
            切丁猪肉三鲜水饺
        </div>
        <div style="text-align: center;">
            <img src="~/Content/images/shop/bjh/shuijiao/切丁猪肉三鲜.jpg" width="90%" style="display: block; border-radius: 10px; margin: 5px auto;" />
        </div>
    </div>
    <div  class="food">
        <div class="food_title"  style="text-align: center;">
            扇贝水饺
        </div>
        <div style="text-align: center;">
            <img src="~/Content/images/shop/bjh/shuijiao/扇贝.jpg" width="90%" style="display: block; border-radius: 10px; margin: 5px auto;" />
        </div>
    </div>
    <div  class="food">
        <div class="food_title"  style="text-align: center;">
            双虾水饺
        </div>
        <div style="text-align: center;">
            <img src="~/Content/images/shop/bjh/shuijiao/双吓水饺.jpg" width="90%" style="display: block; border-radius: 10px; margin: 5px auto;" />
        </div>
    </div>
    <div  class="food">
        <div class="food_title"  style="text-align: center;">
            虾仁黄瓜水饺
        </div>
        <div style="text-align: center;">
            <img src="~/Content/images/shop/bjh/shuijiao/虾仁黄瓜.jpg" width="90%" style="display: block; border-radius: 10px; margin: 5px auto;" />
        </div>
    </div>
    <div class="food">
        <div class="food_title"  style="text-align: center;">
            虾仁韭菜水饺
        </div>
        <div style="text-align: center;">
            <img src="~/Content/images/shop/bjh/shuijiao/虾仁韭菜.jpg" width="90%" style="display: block; border-radius: 10px; margin: 5px auto;" />
        </div>
    </div>
    <div class="food">
        <div class="food_title"  style="text-align: center;">
            鲅鱼水饺
        </div>
        <div style="text-align: center;">
            <img src="~/Content/images/shop/bjh/shuijiao/鲅鱼.jpg" width="90%" style="display: block; border-radius: 10px; margin: 5px auto;" />
        </div>
    </div>
</body>
</html>
