@model WS.Model.OfficialAccount

@if (!(bool)Model.IsConfigure)
{
    @Ajax.ActionLink("确认配置", "_Configure", new { AccountID = Model.AccountID  }, new AjaxOptions
                                {
                                    UpdateTargetId = "statediv-" + Model.AccountID,
                                    InsertionMode = InsertionMode.Replace
                                }, new { @class = "btn btn-danger" })
}
else
{
    <span class="glyphicon glyphicon-ok-circle" style="font-size:2em; color: green;"></span>

}