@model IEnumerable<WS.Model.OfficialAccount>
@foreach (var item in Model)
{
    <li>
        @Html.ActionLink(item.WeiXinName, "List", "Subscriber", new { Area = "Admin", AccountID = item.AccountID }, null)
    </li>
}
